@use "sass:color";

// This starter palette is courtesy of https://github.com/mrmrs/colors (MIT license)
:root {
  // == cool =======
  --aqua: #7fdbff;
  --blue: #0074d9;
  --navy: #001f3f;
  --teal: #39cccc;
  --green: #2ecc40;
  --olive: #3d9970;
  --lime: #01ff70;
  // == warm =======
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
  // == gray =======
  --white: #ffffff;
  --silver: #dddddd;
  --gray: #aaaaaa;
  --black: #111111;
  --black-transparent: #{color.adjust(#111, $alpha: -0.9)};
}
